@import url('https://fonts.googleapis.com/css2?family=Buda&display=swap');

body {
    background-image: url("stacked-waves-haikei.svg");
    background-position: center;
    background-size: cover;
    font-family: 'Buda', monospace;
}

a {
    color: #9575cd;
}

h4, h5, h6 {
    font-size: 20px;
}