@import url('https://fonts.googleapis.com/css2?family=Buda&display=swap');

body {
    background-color: rgb(17, 16, 16);
    font-family: 'Buda', monospace;
}

a {
    color: #9575cd;
}

h4, h5, h6 {
    font-size: 20px;
}